version: "3.9"
services:
  server: 
    image: kino1994/server
    ports:
    - 3000:3000
    env_file:
    - properties.env
    depends_on: 
    - mysql
    - rabbitmq
    command: ["./wait-for-it.sh", "-s", "-t", "0", "mysql:3306", "--", "./wait-for-it.sh", "-t", "0", "rabbitmq:5672", "--", "node", "src/server.js"]
  planner: 
    image: kino1994/planner
    env_file:
    - properties.env
    depends_on:
    - toposervice
    - weatherservice
    command: ["./wait-for-it.sh", "-t", "0", "rabbitmq:5672", "--", "java", "-jar", "app.jar"]
  weatherservice: 
    image: kino1994/weatherservice
    ports:
    - 9090:9090
    env_file:
    - properties.env
  toposervice: 
    image: kino1994/toposervice
    ports:
    - 8080:8080
    env_file:
    - properties.env
    depends_on:
    - mongo
  mongo:
    image: mongo:latest
    volumes:
      - ./mongo:/data/db
    ports:
    - 27017-27019:27017-27019
  mysql:
    image: mysql:8.0.22
    volumes:
      - ./mysql:/data/db
    ports:
      - 3306:3306
    env_file:
    - properties.env
  rabbitmq:
    image: rabbitmq:3-management
    volumes:
      - ./rabbitmq:/data/rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
